.leaflet-control-exposicion {
	border:solid rgba(255, 255, 255, 1.0) 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 3px;
	background: #f8f8f9;
	transition: all .6s;
}

.leaflet-control-exposicion a {
	background-color: rgba(255, 255, 255, 1.0);
	background-repeat: no-repeat;
	z-index: 99999;
	transition: all .6s;
}

div.unstyledTable {
	font-size: 13px;
}
.divTable.unstyledTable .divTableCell, .divTable.unstyledTable .divTableHead {
	font-size: 13px;
}
.divTable.unstyledTable .divTableHeading {
  background: #DDDDDD;
}
.divTable.unstyledTable .divTableHeading .divTableHead {
  font-weight: normal;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}